@import url('https://fonts.googleapis.com/css?family=Play:400,700&subset=cyrillic,cyrillic-ext,latin-ext');

body {
    font-family: 'Play', sans-serif;
    color: #263745;
    background: #000 !important;
    position: relative;
    min-width: 474px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.nopadding {
    padding: 0 !important;
}

#yii-debug-toolbar-min img {
    margin-bottom: 0 !important;
}

#easyii-navbar .navbar-nav > li > a {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    color: #B3B8C3;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    line-height: 1.8;
    font-size: 14px;
    text-align: left;
}

.navbar-nav > li > a {
    margin: 28px 0;
}

#easyii-navbar span {
    color: #B3B8C3;
}

#yii-debug-toolbar img {
    margin-bottom: 0 !important;
}

.stars {
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(/app/media/img/2.png) no-repeat center;
    background-size: cover;
}

#gradient {
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 0.6;
}

.steps-block {
    max-width: 800px;
    min-width: 474px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 80px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 64px;
}

.steps-block.register {
    min-height: 836px;
}

.steps-block.login {
    min-height: 600px;
}

form#user-register, form#user-login {
    max-width: 400px;
    margin: 0 auto;
}

form input.form-control {
    height: 54px;
    border-radius: 10px;
}

form button.link-button {
    width: 400px;
    background-color: #45D6AD;
    border: none;
    height: 54px;
    border-radius: 10px;
    color: #fff;
    line-height: 28px;
    font-size: 15px;
    margin-bottom: 16px;
}

.form-z-index {
    padding: 0;
}

#registerform-captchauser, #loginform-captchauser {
    height: 54px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 285px;
    padding: 15px;
}

.field-registerform-captchauser, .field-loginform-captchauser {
    height: 54px;
}

.steps-block .logo {
    background: url(/app/media/img/logo.png) no-repeat;
    background-size: 300px 100px;
    height: 100px;
    width: 300px;
    margin: 0 auto 30px;
}

.steps-block .step-title {
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: bold;
}

.steps-block .step-subtitle {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

form a {
    color: #45D6AD;
}

@media (max-width: 1199px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 992px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (min-width: 768px) {

}

@media (max-width: 636px) {

}

@media (min-width: 637px) {

}

@media (max-width: 624px) {

}

::-moz-selection {
    color: #fff;
    background: rgb(233, 65, 77);
}

::selection {
    color: #fff;
    background: rgb(233, 65, 77);
}